.form__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    border-radius: .5rem;
    background-color: var(--s   econdary-001);
}
.icon-calculator{
    width: 32px;
}

.calc-in{
    width: 8rem;
}

.select-text{
    font-size: 1.2rem;
    color: var(--secondary);
    font-weight: 600;
    width: 100%;
}