.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    height: calc(100vh - 128px);
    background-color: var(--primary);
    position: relative;
}

.main__title {
    color: var(--tertiary);
    margin: 1.25rem 0;
}


.link-homer {
    color: var(--secondary);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    transition: 400ms;
    position: relative;
}

.link-homer:hover {
    color: var(--primary);
}

.link-homer::after {
    content: "";
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    transition: 400ms;
}

.link-homer:hover::after {
    width: 48px;
    height: 48px;
    background-color: var(--secondary-001);
    filter: opacity(0.35) brightness(1.5) saturate(.75);
    border: 4px solid var(--secondary);  
    border-radius: 12px;
}

.icon-back{
    cursor: pointer;
    width: 48px;
    height: 48px;
}